<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <div class="container">
      <h1>Thank you for visiting. Your visit had been logged.</h1>
      <a href="/visitHistory">Click here to view the visit history log</a>
    </div>
  </body>
</html>
