<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <div class="container">
      <h2>History of user visits to https://zedify-kb.herokuapp.com/</h2>
      <h3>Displaying user agent strings and the timestamp of the visit</h3>
      <ol>
        <li>
          <strong>user agent</strong>
          <ul>
            <li>timestamp</li>
          </ul>
        </li>
      </ol>
    </div>
  </body>
</html>
